h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
  color: black;
}

hr{
  width: 400px;
  height: 4px;
  background-color: green;
}

#board{
  width: 450px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.tile{
  width: 147px;
  height: 147px;
  font-size: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

.horizontal-line{
  border-bottom: 4px solid green;

}

.vertical-line{
  border-right: 4px solid green;

}

.winner {
  background-color: lightgray;
  color: green;
}

.resetBtn{
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

#start{
  text-align: center;
  margin: 0 auto;
  width: 300px;
  margin-top: 100px;
}

#winnerResult{
  text-align: center;
  margin: 0 auto;
  width: 200px;
  margin-top: 20px;
}

#start button{
  font-size: 21px;
  padding: 10px;
  margin-right: 10px;
  background-color: aliceblue;
  color: green;
  border-radius: 10px;
  border: 0.5px solid green;
  font-family: 'Times New Roman', Times, serif;
  
}

#start button:hover{
  cursor: pointer;
  color: orange;
}

#winnerResult p{
  font-size: 21px;
  font-family: 'Times New Roman', Times, serif;
}

.startingGame{
  text-align: center
}

.startingGame p{
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: red;
}